@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F6F2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === FONT FACE === */

@font-face {
  font-family: 'SpaceGroteskRegular';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGroteskBold';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGroteskSemiBold';
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceGroteskLight';
  src: url('/fonts/SpaceGrotesk-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceGroteskMedium';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

/* === FONT CLASSES === */
.font_grotesk_medium {
  font-family: SpaceGroteskRegular;
}

.font_grotesk_bold {
  font-family: SpaceGroteskBold;
}

.font_grotesk_semibold {
  font-family: SpaceGroteskSemiBold;
}
.font_grotesk_light {
  font-family: SpaceGroteskLight;
}
.font_grotesk_medium {
  font-family: SpaceGroteskMedium;
}